<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bob Ross Go</title>

    <style>
        body {
            background-color: #f0f0f0;
            font-family: Arial, sans-serif;
            color: #333;
        }
        pre {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
    </style>

</head>
<body>
    <div class="ascii-art">
        <pre id="bob-ross">
{{.Quote}}
      \
       \
        \        
                                     `-::::-....`                
                                `-:+yhhhdhhhyhdhyo+:.`           
                             `/oydmmNNNNNNNMNNNNNNddho:`         
                           `/yhdmNNNMMMMMMMMMMMMMNMNNmhs:        
                          `+yhmmNMMMMMMMMMMMMMMMMMMMMNNmh+.      
                          :ydNmNMMMMMMMMMMMMMMMMMMMMMMMNNh+.     
                         :ydNNNNNNNNNNmmmmNNMMMMMMMMMMMMMNd/     
                         ohdmNNNNmmdhdhhddmNNNNNNNMMMMMMMNmd:    
                        .shmNNNmmmhsooyyydddmmmmNNMMMMMMMNNd+`   
                        .yhmNNNNmdo/+//ooyoyhyhdmmNMMMMMMMNd+`   
                        .ydmNNNNNd/+osyo://yhdddmmNNNMMMMMNms`   
                        `yhdmNNNNo.-::oo-.+hmdyyddmNNMNMNNmh:    
                         -sddmNNN/..--...-ohhhs+yhhmMMMNNNd/`    
                          -shdmdd:.`.+/...+hhdhooyhdNNNNNdo:     
                           `oyddd/.-o+-/osshddmmyyhdNMMNdo.`     
                            :sshhy-/sysooo+shmNmmhmmNMNd+-`      
                             `/syhsoso--:/+shdmdhmNNms:`         
                               `:yhho+:::+oyhdddmNNh//:`         
                                 `+s+//:/+oyyhhhddo:::::-`       
`:-.`                              .:/+hddddyssso//:/:/+//-      
-+++oo+/::`                       ` `./sdmhys++/::::::::::::.    
:sooossoo+o+.` ``...`            `````-:/::-.......+.`..---::-`  
/ssosyooo+oo+/++.:+/:--`          `` `.--.```````./````..---:::- 
-ooosyoo+oooo/os/.-:y://-          ` `:-//``````.-`````...--:::- 
   `//+yssyy+hNmdy--/ss+/`         ``-:-://.``````.`````..--:::- 
       .----/oo+++/.-+++``        ` `--:::` `````-` ````-..-:::- 
                  -.-:oo--dhhdhhdh-`.```     ` `:  `. ``.-`-::/: 
                  `-::/oo:/yhdhdds``          `:``.`  ```..::::: 
                   `-://+o+::-://-        `   -.```   ````-::::: 
                     `-//+oo+/-`           ` `.```    ```.:::::: 
                        .:+++++`          `` .```      ``-:/::::`
                          .://`        `  .` `         `.-::/:::.
                            ``            `.`     ``  ``.--:::--.

        </pre>
    </div>
</body>
</html>